body{
    font-family: roboto, arial;
    margin: 0;
}

.authors-wrap{
    position: absolute;
    border: solid 1px black;
    background: white;
    font-family: monospace;
    top: 5px;
    right: 5px;
    padding: 5px;
    width: 129px;
}

.authors-wrap p{
    display: none;
}

.authors-wrap button{
    width: 100%;
    font-size: 18px;
    border: none;
    background: none;
    height: 30px;
}

h3{
    text-align: center;
}

.input-wrap{
    /*width: 100%;*/
    padding: 5px;
}

.input-field-wrap{
    /*float: left;*/
    margin: 10px;
}

.input-section{
    float: left;
    border-right: solid 1px gray;
}

.input-section:last-child{
    border: none;
}

.input-wrap:after{
    content: '';
    display: block;
    float: none;
    clear: both;
}

.input-field-wrap h4{
    margin-top: 5px;
    margin-bottom: 2px;
}

#page-data-input{
    /*width: 100%;*/
}

button{
    margin: auto;
    width: 120px;
    height: 40px;
}

#controls{
    text-align: center;
}

#results-wrap{
    text-align: center;
    display: none;
}

table{
    border-collapse: collapse;
    font-size: 14px;
    font-family: monospace;
}

tr:nth-child(odd){
    background: #c9c9c9
}

tr:nth-child(even){
    background: #949494;
}
