body{
    font-family: roboto, arial;
    margin: 0;
}

.authors-wrap{
    position: absolute;
    background: white;
    font-family: monospace;
    top: 5px;
    right: 5px;
    padding: 0;
    width: 145px;
    height: 30px;
    overflow: hidden;
    cursor: default;
    transition: all ease-in 0.3s;
}

.authors-wrap.opened {
    height: 115px;
}

.authors-wrap button {
    width: 100%;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    position: absolute;
}

#author-list {
    width: 133px;
    border: solid 1px grey;
    padding: 5px;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
}

h1, h3{
    text-align: center;
}

.input-wrap{
    /*width: 100%;*/
    padding: 5px;
}

.input-field-wrap{
    /*float: left;*/
    margin: 10px;
}

.input-section{
    float: left;
    border-right: solid 1px gray;
}

.input-section:last-child{
    border: none;
}

.input-wrap:after, .chart-wrap:after{
    content: '';
    display: block;
    float: none;
    clear: both;
}

.input-field-wrap h4{
    margin-top: 5px;
    margin-bottom: 2px;
}

#page-data-input {
    resize: vertical;
}

button{
    margin: auto;
    width: 120px;
    height: 40px;
}
#run-all, #rnd-gen {
    width: 173px;
}

#controls{
    text-align: center;
}

#results-wrap{
    text-align: center;
    display: none;
}

table{
    border-collapse: collapse;
    font-size: 14px;
    font-family: monospace;
}

tr:nth-child(odd){
    background: #c9c9c9
}

tr:nth-child(even){
    background: #949494;
}

#progress-bar{
    /*height: 10px;*/
    background: gray;
}

#bar{
    width: 0%;
    height: 10px;
    background: #0046b2;
}

#page-replace-visualizer{
    margin-top: 410px;
    padding: 15px;
}
#page-replace-visualizer table {
    width: 100%;
    margin: 40px 0 20px 0;
}
#page-replace-visualizer table td {
    text-align: center;
}
#page-replace-visualizer h4 {
    text-align: center;
    margin: 0;
}

.red {
    color: red;
    font-weight: bold;
}
.green {
    color: green;
    font-weight: bold;
}